body {
    margin:0;
    background-color:#000;
}
.res-1440x900 {
    position:relative;
    background-image: url("../images/index/index-bg.png");
    height:900px;
    width:1440px;
}
.hide,.ui-icon.hide {
    display:none;
}
.ui-frame {
    position:absolute;
    background: rgba(255,255,255,.1)
}
.ui-frame-name {
    display:none;
    position:absolute;
    text-align:center;
    width:100%;
}
.ui-frame:hover .ui-frame-name {
    display:inline-block;
}
.ui-frame.ui-resizable {
    position:absolute;
    overflow:hidden;
}
iframe {
    border:none;
}
.ui-draggable-dragging {
    border: 1px solid yellow;
}

.ui-icon-arrow-4, .ui-icon-minus, .ui-icon-plus {
    position:absolute;
    right:0;
    z-index:1;
    cursor:move;
}
.ui-icon-minus, .ui-icon-plus {
    cursor:pointer;
}
 
#save, #reload, #saveModuleList {
    position:absolute;
    right:10px;
    top:20px;
}

#reload {
    top:80px;
}
#saveModuleList {
    top:200px;
}