body {
    margin:0;
    background-color:#000;
}
.res-1440x900 {
    position:relative;
    background-image: url("../images/index/index-bg.png");
    height:900px;
    width:1440px;
}
.hide,.ui-icon.hide {
    display:none;
}
.ui-frame {
    position:absolute;
    background: rgba(255,255,255,.1)
}
iframe {
    border:none;
}
.ui-draggable-dragging {
    border: 1px solid yellow;
}
.ui-frame .ui-icon {
    top:-17px;
}
.ui-icon-arrow-4 {
    background-color:yellow;
    position:absolute;
    right:0;
    z-index:1;
    cursor:move;
}
.ui-icon-minus {
    background-color:red;
    position:absolute;
    right:16px;
    z-index:1;
    cursor:pointer;
}
.ui-icon-plus {
    background-color:green;
    position:absolute;
    right:16px;
    z-index:1;
    cursor:pointer;
}
#save {
    position:absolute;
    right:10px;
    top:20px;
}

#reload {
    position:absolute;
    right:10px;
    top:80px;

}
#saveModuleList {
    position:absolute;
    right:10px;
    top:200px;

}